<!DOCTYPE html>{% load static %}
<html>
    <head>
        <title>World Markers</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <style>
            body {
                padding: 0;
                margin: 0;
            }
            html,
            body,
            #map {
                height: 100%;
                width: 100%;
            }
            #map {
                display: block;
            }
        </style>
    </head>
    <body>
        <app id="map">Loading...</app>
        <script src="{% static "app.bundle.js" %}"></script>
    </body>
</html>
